In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [47]:


List=[1,2,3,np.pi,6,8]
s=pd.Series(List)
s

0    1.000000
1    2.000000
2    3.000000
3    3.141593
4    6.000000
5    8.000000
dtype: float64

In [48]:
list=np.arange(0,5)
a = pd.Series(list)
a

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [49]:
dates= pd.date_range("20150310",periods=10)
dates

DatetimeIndex(['2015-03-10', '2015-03-11', '2015-03-12', '2015-03-13',
               '2015-03-14', '2015-03-15', '2015-03-16', '2015-03-17',
               '2015-03-18', '2015-03-19'],
              dtype='datetime64[ns]', freq='D')

In [50]:
list=['A','B','C','D']
col = [np.random.choice(list)+np.random.choice(list)for i in range(20)]
col

['CC',
 'CA',
 'CB',
 'CA',
 'AA',
 'CB',
 'CA',
 'DB',
 'BC',
 'DC',
 'AA',
 'BD',
 'DD',
 'DD',
 'AD',
 'CC',
 'AB',
 'CA',
 'BA',
 'DA']

In [51]:
A=np.random.rand(100,20)
A

array([[0.16285136, 0.05441693, 0.04315848, ..., 0.84526315, 0.3060356 ,
        0.20841913],
       [0.2085645 , 0.71966411, 0.45806201, ..., 0.65616177, 0.62860822,
        0.74580428],
       [0.6518172 , 0.55353096, 0.79648105, ..., 0.50934133, 0.96363237,
        0.30922879],
       ...,
       [0.14724592, 0.45676325, 0.48401042, ..., 0.43993918, 0.07467466,
        0.85818009],
       [0.53140258, 0.67143059, 0.8229726 , ..., 0.80942468, 0.86484063,
        0.32977871],
       [0.45675979, 0.69110636, 0.48492758, ..., 0.67016755, 0.31756136,
        0.48249901]])

In [52]:
df = pd.DataFrame(A, columns = col)
df.head()
df.tail()
df.to_csv("trial.csv")

In [53]:
np.array(df)

array([[0.16285136, 0.05441693, 0.04315848, ..., 0.84526315, 0.3060356 ,
        0.20841913],
       [0.2085645 , 0.71966411, 0.45806201, ..., 0.65616177, 0.62860822,
        0.74580428],
       [0.6518172 , 0.55353096, 0.79648105, ..., 0.50934133, 0.96363237,
        0.30922879],
       ...,
       [0.14724592, 0.45676325, 0.48401042, ..., 0.43993918, 0.07467466,
        0.85818009],
       [0.53140258, 0.67143059, 0.8229726 , ..., 0.80942468, 0.86484063,
        0.32977871],
       [0.45675979, 0.69110636, 0.48492758, ..., 0.67016755, 0.31756136,
        0.48249901]])

In [54]:
df.describe()

,CC,CA,CB,CA,AA,CB,CA,DB,BC,DC,AA,BD,DD,DD,AD,CC,AB,CA,BA,DA
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.478391,0.507562,0.480212,0.498733,0.536022,0.486524,0.472525,0.428783,0.460169,0.485010,0.516238,0.482632,0.525812,0.547638,0.491289,0.471066,0.502751,0.509061,0.496608,0.506330
std,0.282739,0.302661,0.289047,0.285122,0.291776,0.283351,0.293870,0.278104,0.254197,0.310339,0.305605,0.292691,0.287437,0.288251,0.316085,0.267562,0.298532,0.287832,0.275639,0.313934
min,0.002136,0.005532,0.006586,0.007534,0.014170,0.002656,0.005311,0.003911,0.005473,0.001966,0.000999,0.008179,0.009265,0.008223,0.009115,0.001256,0.007947,0.012928,0.041624,0.000959
25%,0.231753,0.210776,0.225307,0.278405,0.289488,0.252466,0.187060,0.185824,0.268594,0.222124,0.246460,0.231009,0.291084,0.334027,0.215334,0.254063,0.250524,0.267241,0.270137,0.218584
50%,0.481712,0.554350,0.483773,0.449153,0.578731,0.486661,0.468497,0.445680,0.435568,0.468816,0.533445,0.459427,0.534772,0.586807,0.447008,0.491536,0.493372,0.486392,0.450652,0.549796
75%,0.706569,0.772544,0.745334,0.759860,0.763963,0.746715,0.725185,0.638749,0.599120,0.751800,0.771483,0.714155,0.756507,0.823853,0.799394,0.662146,0.795336,0.770118,0.663878,0.763554
max,0.966024,0.989579,0.966322,0.993471,0.991064,0.994778,0.990766,0.963419,0.981434,0.998260,0.998088,0.996735,0.997708,0.982038,0.998593,0.998310,0.991298,0.986379,0.989361,0.997476

In [55]:
covid = pd.read_csv("covid.csv")
covid

,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
0,ALABAMA,AL,1001,Autauga,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
1,ALABAMA,AL,1001,Autauga,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
2,ALABAMA,AL,1001,Autauga,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
3,ALABAMA,AL,1001,Autauga,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
4,ALABAMA,AL,1001,Autauga,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72831,WYOMING,WY,56043,Washakie,56043000200,56043,"Census Tract 2, Washakie County, Wyoming",5,5,ModerateBurden,0,0.111,0,0.0816,0,Non-Tribal,0,1,5
72832,WYOMING,WY,56043,Washakie,56043000301,56043,"Census Tract 3.01, Washakie County, Wyoming",5,5,ModerateBurden,0,0.111,0,0.0857,0,Non-Tribal,0,1,5
72833,WYOMING,WY,56043,Washakie,56043000302,56043,"Census Tract 3.02, Washakie County, Wyoming",12,12,ModerateBurden,0,0.111,0,0.1535,7,Non-Tribal,0,1,5
72834,WYOMING,WY,56045,Weston,56045951100,56045,"Census Tract 9511, Weston County, Wyoming",12,12,ModerateBurden,0,0.105,0,0.1712,7,Non-Tribal,0,1,5
72835,WYOMING,WY,56045,Weston,56045951300,56045,"Census Tract 9513, Weston County, Wyoming",12,12,ModerateBurden,0,0.105,0,0.1230,7,Non-Tribal,0,1,5

In [56]:
covid.head()

,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
0,ALABAMA,AL,1001,Autauga,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
1,ALABAMA,AL,1001,Autauga,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
2,ALABAMA,AL,1001,Autauga,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
3,ALABAMA,AL,1001,Autauga,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
4,ALABAMA,AL,1001,Autauga,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0

In [57]:
covid.describe()

,STCNTY,FIPS,County FIPS,Max Possible Score,HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Rural,Rural - Score
count,72836.000000,7.283600e+04,72836.000000,72836.000000,72836.000000,72836.000000,72836.000000,72262.000000,72836.000000,72836.000000,72836.000000
mean,27830.694135,2.783095e+10,27830.694135,14.924927,6.369845,0.127164,4.005808,0.146481,5.559201,0.212724,1.063622
std,15813.578470,1.581358e+10,15813.578470,9.404650,7.079037,0.046769,5.373873,0.115919,6.214616,0.409237,2.046186
min,1001.000000,1.001020e+09,1001.000000,0.000000,0.000000,0.027000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12127.000000,1.212708e+10,12127.000000,7.000000,0.000000,0.094000,0.000000,0.062400,0.000000,0.000000,0.000000
50%,27131.000000,2.713107e+10,27131.000000,15.000000,0.000000,0.125000,0.000000,0.114700,7.000000,0.000000,0.000000
75%,41039.000000,4.103900e+10,41039.000000,22.000000,15.000000,0.150000,7.000000,0.197600,15.000000,0.000000,0.000000
max,56045.000000,5.604595e+10,56045.000000,50.000000,15.000000,0.477000,15.000000,1.000000,15.000000,1.000000,5.000000

In [58]:
covid.shape

(72836, 19)

In [59]:
#indexing data
covid.iloc[0:5]

,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
0,ALABAMA,AL,1001,Autauga,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
1,ALABAMA,AL,1001,Autauga,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
2,ALABAMA,AL,1001,Autauga,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
3,ALABAMA,AL,1001,Autauga,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
4,ALABAMA,AL,1001,Autauga,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0

In [60]:
covid.iloc[2:10,:6]

     STATE ST_ABBR  STCNTY   COUNTY        FIPS  County FIPS
2  ALABAMA      AL    1001  Autauga  1001020300         1001
3  ALABAMA      AL    1001  Autauga  1001020400         1001
4  ALABAMA      AL    1001  Autauga  1001020500         1001
5  ALABAMA      AL    1001  Autauga  1001020600         1001
6  ALABAMA      AL    1001  Autauga  1001020700         1001
7  ALABAMA      AL    1001  Autauga  1001020801         1001
8  ALABAMA      AL    1001  Autauga  1001020802         1001
9  ALABAMA      AL    1001  Autauga  1001020900         1001

In [61]:
covid.loc[:,"STCNTY":"FIPS"]

       STCNTY    COUNTY         FIPS
0        1001   Autauga   1001020100
1        1001   Autauga   1001020200
2        1001   Autauga   1001020300
3        1001   Autauga   1001020400
4        1001   Autauga   1001020500
...       ...       ...          ...
72831   56043  Washakie  56043000200
72832   56043  Washakie  56043000301
72833   56043  Washakie  56043000302
72834   56045    Weston  56045951100
72835   56045    Weston  56045951300

[72836 rows x 3 columns]

In [62]:
covid.head(50)

,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
0,ALABAMA,AL,1001,Autauga,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
1,ALABAMA,AL,1001,Autauga,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
2,ALABAMA,AL,1001,Autauga,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
3,ALABAMA,AL,1001,Autauga,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
4,ALABAMA,AL,1001,Autauga,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0
5,ALABAMA,AL,1001,Autauga,1001020600,1001,"Census Tract 206, Autauga County, Alabama",15,15,ModerateBurdenResolving,0,0.121,0,0.2521,15,Non-Tribal,0,0,0
6,ALABAMA,AL,1001,Autauga,1001020700,1001,"Census Tract 207, Autauga County, Alabama",15,15,ModerateBurdenResolving,0,0.121,0,0.2783,15,Non-Tribal,0,0,0
7,ALABAMA,AL,1001,Autauga,1001020801,1001,"Census Tract 208.01, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0832,0,Non-Tribal,0,0,0
8,ALABAMA,AL,1001,Autauga,1001020802,1001,"Census Tract 208.02, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1322,7,Non-Tribal,0,0,0
9,ALABAMA,AL,1001,Autauga,1001020900,1001,"Census Tract 209, Autauga County, Alabama",5,5,ModerateBurdenResolving,0,0.121,0,0.0705,0,Non-Tribal,0,1,5
10,ALABAMA,AL,1001,Autauga,1001021000,1001,"Census Tract 210, Autauga County, Alabama",20,20,ModerateBurdenResolving,0,0.121,0,0.2212,15,Non-Tribal,0,1,5
11,ALABAMA,AL,1001,Autauga,1001021100,1001,"Census Tract 211, Autauga County, Alabama",20,20,ModerateBurdenResolving,0,0.121,0,0.2110,15,Non-Tribal,0,1,5
12,ALABAMA,AL,1003,Baldwin,1003010100,1003,"Census Tract 101, Baldwin County, Alabama",5,5,ModerateBurden,0,0.101,0,0.1068,0,Non-Tribal,0,1,5
13,ALABAMA,AL,1003,Baldwin,1003010200,1003,"Census Tract 102, Baldwin County, Alabama",12,12,ModerateBurden,0,0.101,0,0.1859,7,Non-Tribal,0,1,5
14,ALABAMA,AL,1003,Baldwin,1003010300,1003,"Census Tract 103, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0626,0,Non-Tribal,0,0,0
15,ALABAMA,AL,1003,Baldwin,1003010400,1003,"Census Tract 104, Baldwin County, Alabama",5,5,ModerateBurden,0,0.101,0,0.1033,0,Non-Tribal,0,1,5
16,ALABAMA,AL,1003,Baldwin,1003010500,1003,"Census Tract 105, Baldwin County, Alabama",12,12,ModerateBurden,0,0.101,0,0.1243,7,Non-Tribal,0,1,5
17,ALABAMA,AL,1003,Baldwin,1003010600,1003,"Census Tract 106, Baldwin County, Alabama",20,20,ModerateBurden,0,0.101,0,0.3213,15,Non-Tribal,0,1,5
18,ALABAMA,AL,1003,Baldwin,1003010701,1003,"Census Tract 107.01, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0464,0,Non-Tribal,0,0,0
19,ALABAMA,AL,1003,Baldwin,1003010703,1003,"Census Tract 107.03, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0334,0,Non-Tribal,0,0,0
20,ALABAMA,AL,1003,Baldwin,1003010704,1003,"Census Tract 107.04, Baldwin County, Alabama",15,15,ModerateBurden,0,0.101,0,0.2364,15,Non-Tribal,0,0,0
21,ALABAMA,AL,1003,Baldwin,1003010705,1003,"Census Tract 107.05, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1206,7,Non-Tribal,0,0,0
22,ALABAMA,AL,1003,Baldwin,1003010800,1003,"Census Tract 108, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0782,0,Non-Tribal,0,0,0
23,ALABAMA,AL,1003,Baldwin,1003010903,1003,"Census Tract 109.03, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0931,0,Non-Tribal,0,0,0
24,ALABAMA,AL,1003,Baldwin,1003010904,1003,"Census Tract 109.04, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1630,7,Non-Tribal,0,0,0
25,ALABAMA,AL,1003,Baldwin,1003010905,1003,"Census Tract 109.05, Baldwin County, Alabama",12,12,ModerateBurden,0,0.101,0,0.1661,7,Non-Tribal,0,1,5
26,ALABAMA,AL,1003,Baldwin,1003010906,1003,"Census Tract 109.06, Baldwin County, Alabama",12,12,ModerateBurden,0,0.101,0,0.1624,7,Non-Tribal,0,1,5
27,ALABAMA,AL,1003,Baldwin,1003011000,1003,"Census Tract 110, Baldwin County, Alabama",12,12,ModerateBurden,0,0.101,0,0.1823,7,Non-Tribal,0,1,5
28,ALABAMA,AL,1003,Baldwin,1003011101,1003,"Census Tract 111.01, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0534,0,Non-Tribal,0,0,0
29,ALABAMA,AL,1003,Baldwin,1003011102,1003,"Census Tract 111.02, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0836,0,Non-Tribal,0,0,0
30,ALABAMA,AL,1003,Baldwin,1003011201,1003,"Census Tract 112.01, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1216,7,Non-Tribal,0,0,0
31,ALABAMA,AL,1003,Baldwin,1003011202,1003,"Census Tract 112.02, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0530,0,Non-Tribal,0,0,0
32,ALABAMA,AL,1003,Baldwin,1003011300,1003,"Census Tract 113, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0374,0,Non-Tribal,0,0,0
33,ALABAMA,AL,1003,Baldwin,1003011401,1003,"Census Tract 114.01, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.1032,0,Non-Tribal,0,0,0
34,ALABAMA,AL,1003,Baldwin,1003011403,1003,"Census Tract 114.03, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0709,0,Non-Tribal,0,0,0
35,ALABAMA,AL,1003,Baldwin,1003011405,1003,"Census Tract 114.05, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0413,0,Non-Tribal,0,0,0
36,ALABAMA,AL,1003,Baldwin,1003011406,1003,"Census Tract 114.06, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0626,0,Non-Tribal,0,0,0
37,ALABAMA,AL,1003,Baldwin,1003011407,1003,"Census Tract 114.07, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.1048,0,Non-Tribal,0,0,0
38,ALABAMA,AL,1003,Baldwin,1003011408,1003,"Census Tract 114.08, Baldwin County, Alabama",5,5,ModerateBurden,0,0.101,0,0.1129,0,Non-Tribal,0,1,5
39,ALABAMA,AL,1003,Baldwin,1003011501,1003,"Census Tract 115.01, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1395,7,Non-Tribal,0,0,0
40,ALABAMA,AL,1003,Baldwin,1003011502,1003,"Census Tract 115.02, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1192,7,Non-Tribal,0,0,0
41,ALABAMA,AL,1003,Baldwin,1003011601,1003,"Census Tract 116.01, Baldwin County, Alabama",7,7,ModerateBurden,0,0.101,0,0.1579,7,Non-Tribal,0,0,0
42,ALABAMA,AL,1003,Baldwin,1003011602,1003,"Census Tract 116.02, Baldwin County, Alabama",0,0,ModerateBurden,0,0.101,0,0.0921,0,Non-Tribal,0,0,0
43,ALABAMA,AL,1005,Barbour,1005950100,1005,"Census Tract 9501, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.2915,15,Non-Tribal,0,1,5
44,ALABAMA,AL,1005,Barbour,1005950200,1005,"Census Tract 9502, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.3079,15,Non-Tribal,0,1,5
45,ALABAMA,AL,1005,Barbour,1005950300,1005,"Census Tract 9503, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.3798,15,Non-Tribal,0,1,5
46,ALABAMA,AL,1005,Barbour,1005950400,1005,"Census Tract 9504, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.2827,15,Non-Tribal,0,1,5
47,ALABAMA,AL,1005,Barbour,1005950500,1005,"Census Tract 9505, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.1951,7,Non-Tribal,0,1,5
48,ALABAMA,AL,1005,Barbour,1005950600,1005,"Census Tract 9506, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.3036,15,Non-Tribal,0,1,5
49,ALABAMA,AL,1005,Barbour,1005950700,1005,"Census Tract 9507, Barbour County, Alabama",20,20,ModerateBurden,0,0.271,15,0.3217,15,Non-Tribal,0,1,5

In [63]:
#setting county as index
covid_df1 = covid.copy(deep =True)
covid_df1=covid_df1.set_index("COUNTY")
covid_df1

,STATE,ST_ABBR,STCNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
COUNTY,,,,,,,,,,,,,,,,,,
Autauga,ALABAMA,AL,1001,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Washakie,WYOMING,WY,56043,56043000200,56043,"Census Tract 2, Washakie County, Wyoming",5,5,ModerateBurden,0,0.111,0,0.0816,0,Non-Tribal,0,1,5
Washakie,WYOMING,WY,56043,56043000301,56043,"Census Tract 3.01, Washakie County, Wyoming",5,5,ModerateBurden,0,0.111,0,0.0857,0,Non-Tribal,0,1,5
Washakie,WYOMING,WY,56043,56043000302,56043,"Census Tract 3.02, Washakie County, Wyoming",12,12,ModerateBurden,0,0.111,0,0.1535,7,Non-Tribal,0,1,5
Weston,WYOMING,WY,56045,56045951100,56045,"Census Tract 9511, Weston County, Wyoming",12,12,ModerateBurden,0,0.105,0,0.1712,7,Non-Tribal,0,1,5
Weston,WYOMING,WY,56045,56045951300,56045,"Census Tract 9513, Weston County, Wyoming",12,12,ModerateBurden,0,0.105,0,0.1230,7,Non-Tribal,0,1,5

In [64]:
covid_df1.head()

,STATE,ST_ABBR,STCNTY,FIPS,County FIPS,LOCATION,Total Score,Max Possible Score,Hardest Hit Area (HHA),HHA Score,Low Income Area (LIA) County SAIPE - (Poverty Percentage),Low Income Area (LIA) County SAIPE- Score,Low Income Area (LIA) Census Tract (Poverty Percentage),Low Income Area (LIA) Census Tract - Score,Tribal Community\n(1 if yes),Tribal Community\nScore (Geographic Only),Rural,Rural - Score
COUNTY,,,,,,,,,,,,,,,,,,
Autauga,ALABAMA,AL,1001,1001020100,1001,"Census Tract 201, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1666,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020200,1001,"Census Tract 202, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1913,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020300,1001,"Census Tract 203, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1725,7,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020400,1001,"Census Tract 204, Autauga County, Alabama",0,0,ModerateBurdenResolving,0,0.121,0,0.0464,0,Non-Tribal,0,0,0
Autauga,ALABAMA,AL,1001,1001020500,1001,"Census Tract 205, Autauga County, Alabama",7,7,ModerateBurdenResolving,0,0.121,0,0.1516,7,Non-Tribal,0,0,0

In [65]:
covid_df1.iloc[2:20,:5]

           STATE ST_ABBR  STCNTY        FIPS  County FIPS
COUNTY
Autauga  ALABAMA      AL    1001  1001020300         1001
Autauga  ALABAMA      AL    1001  1001020400         1001
Autauga  ALABAMA      AL    1001  1001020500         1001
Autauga  ALABAMA      AL    1001  1001020600         1001
Autauga  ALABAMA      AL    1001  1001020700         1001
Autauga  ALABAMA      AL    1001  1001020801         1001
Autauga  ALABAMA      AL    1001  1001020802         1001
Autauga  ALABAMA      AL    1001  1001020900         1001
Autauga  ALABAMA      AL    1001  1001021000         1001
Autauga  ALABAMA      AL    1001  1001021100         1001
Baldwin  ALABAMA      AL    1003  1003010100         1003
Baldwin  ALABAMA      AL    1003  1003010200         1003
Baldwin  ALABAMA      AL    1003  1003010300         1003
Baldwin  ALABAMA      AL    1003  1003010400         1003
Baldwin  ALABAMA      AL    1003  1003010500         1003
Baldwin  ALABAMA      AL    1003  1003010600         1003
Baldwin  ALABAMA      AL    1003  1003010701         1003
Baldwin  ALABAMA      AL    1003  1003010703         1003

In [66]:
sample =covid_df1.iloc[0:10,:6]
sample

,STATE,ST_ABBR,STCNTY,FIPS,County FIPS,LOCATION
COUNTY,,,,,,
Autauga,ALABAMA,AL,1001,1001020100,1001,"Census Tract 201, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020200,1001,"Census Tract 202, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020300,1001,"Census Tract 203, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020400,1001,"Census Tract 204, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020500,1001,"Census Tract 205, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020600,1001,"Census Tract 206, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020700,1001,"Census Tract 207, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020801,1001,"Census Tract 208.01, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020802,1001,"Census Tract 208.02, Autauga County, Alabama"
Autauga,ALABAMA,AL,1001,1001020900,1001,"Census Tract 209, Autauga County, Alabama"

In [67]:
#iterrow
for index ,row in sample.iterrows():
    print(index,row['LOCATION'])

Autauga Census Tract 201, Autauga County, Alabama
Autauga Census Tract 202, Autauga County, Alabama
Autauga Census Tract 203, Autauga County, Alabama
Autauga Census Tract 204, Autauga County, Alabama
Autauga Census Tract 205, Autauga County, Alabama
Autauga Census Tract 206, Autauga County, Alabama
Autauga Census Tract 207, Autauga County, Alabama
Autauga Census Tract 208.01, Autauga County, Alabama
Autauga Census Tract 208.02, Autauga County, Alabama
Autauga Census Tract 209, Autauga County, Alabama

In [68]:
for index,row in sample.iterrows():
    print(row["FIPS"])

1001020100
1001020200
1001020300
1001020400
1001020500
1001020600
1001020700
1001020801
1001020802
1001020900

In [69]:
#iteritems
for index,row in sample.T.iteritems():
    print(index,row[0],row[4])

Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001
Autauga ALABAMA 1001

In [70]:
for index,row in sample.iterrows():
    print(index,row[5])

Autauga Census Tract 201, Autauga County, Alabama
Autauga Census Tract 202, Autauga County, Alabama
Autauga Census Tract 203, Autauga County, Alabama
Autauga Census Tract 204, Autauga County, Alabama
Autauga Census Tract 205, Autauga County, Alabama
Autauga Census Tract 206, Autauga County, Alabama
Autauga Census Tract 207, Autauga County, Alabama
Autauga Census Tract 208.01, Autauga County, Alabama
Autauga Census Tract 208.02, Autauga County, Alabama
Autauga Census Tract 209, Autauga County, Alabama

In [71]:
list=["A","B","C","D"]
LD=[]
for i in range(100):
    LD.append({"player" : np.random.choice(list)+np.random.choice(list)+np.random.choice(list)+np.random.choice(list),\
               "game1" : np.random.uniform(0,10) , 
               "game2" : np.random.uniform(0,10) ,
               "game3" : np.random.uniform(0,10)})

In [72]:
LD

[{'player': 'AACA',
  'game1': 8.340178695348657,
  'game2': 2.8876810820883514,
  'game3': 0.5830497618496333},
 {'player': 'ACCC',
  'game1': 1.6038855941226127,
  'game2': 5.1986702498311566,
  'game3': 2.2694305978737352},
 {'player': 'CDCB',
  'game1': 8.784874825827316,
  'game2': 6.323535079223934,
  'game3': 0.1292836684416565},
 {'player': 'DBCD',
  'game1': 4.078631478840469,
  'game2': 7.771774742625077,
  'game3': 7.742081565140788},
 {'player': 'ADCB',
  'game1': 9.723180048733312,
  'game2': 1.0904663546460591,
  'game3': 2.518713841563142},
 {'player': 'CACC',
  'game1': 9.297581397004667,
  'game2': 8.496566953615437,
  'game3': 2.796848965480091},
 {'player': 'BCDA',
  'game1': 1.0094516173760526,
  'game2': 9.355367292587285,
  'game3': 7.236932119452325},
 {'player': 'CCAC',
  'game1': 9.101590239996687,
  'game2': 6.578864254823969,
  'game3': 8.082607765101107},
 {'player': 'BBAD',
  'game1': 5.442158112649659,
  'game2': 1.3494677732570481,
  'game3': 4.992656053714045},
 {'player': 'ADDC',
  'game1': 5.913570499113309,
  'game2': 6.714835897818312,
  'game3': 1.502437706428682},
 {'player': 'CDCD',
  'game1': 0.7301596737765481,
  'game2': 4.435729246397745,
  'game3': 4.962176917854851},
 {'player': 'BCDC',
  'game1': 3.7197972827525994,
  'game2': 2.4881068525818053,
  'game3': 6.051693065459292},
 {'player': 'DCAB',
  'game1': 6.288078928153863,
  'game2': 7.647531777424988,
  'game3': 4.154138596900314},
 {'player': 'BDDB',
  'game1': 1.0313580075617412,
  'game2': 8.148815341564099,
  'game3': 3.42896398045319},
 {'player': 'BCDD',
  'game1': 3.276711020151173,
  'game2': 6.451807906777576,
  'game3': 0.8553095184803039},
 {'player': 'DBAC',
  'game1': 9.157831249181728,
  'game2': 0.17996115961525838,
  'game3': 5.302331976822488},
 {'player': 'CCCB',
  'game1': 1.3102469684785178,
  'game2': 7.7868888420817575,
  'game3': 9.444411951776537},
 {'player': 'DABA',
  'game1': 0.6553777419524209,
  'game2': 9.711754445659436,
  'game3': 1.8876046914926903},
 {'player': 'DDBA',
  'game1': 2.2710529276899982,
  'game2': 3.748826739072536,
  'game3': 2.665249745079218},
 {'player': 'CDCD',
  'game1': 2.8371435407387926,
  'game2': 2.868051895047813,
  'game3': 9.840283063653333},
 {'player': 'BDBD',
  'game1': 8.733575967388877,
  'game2': 7.491265826885565,
  'game3': 6.4056635209310535},
 {'player': 'DCCD',
  'game1': 8.578501131604867,
  'game2': 3.5580079355819505,
  'game3': 0.2274353575068988},
 {'player': 'BDBC',
  'game1': 5.57568564111837,
  'game2': 5.310772514918643,
  'game3': 4.600629425453095},
 {'player': 'BBBC',
  'game1': 2.460897641215393,
  'game2': 9.28347499348752,
  'game3': 4.65195791104558},
 {'player': 'DBCD',
  'game1': 0.5122866388656055,
  'game2': 7.076634829184974,
  'game3': 4.51577936484466},
 {'player': 'AACD',
  'game1': 8.446503559768457,
  'game2': 1.781255797406175,
  'game3': 7.461293140347472},
 {'player': 'BBAB',
  'game1': 6.932018332237314,
  'game2': 2.0428259819152625,
  'game3': 9.505829995616477},
 {'player': 'ADBC',
  'game1': 1.3401512664842874,
  'game2': 5.423013299010153,
  'game3': 0.9690124199387484},
 {'player': 'DCBA',
  'game1': 4.894662723941643,
  'game2': 2.0898869194844605,
  'game3': 2.1954495193037173},
 {'player': 'CDBD',
  'game1': 5.254074633494499,
  'game2': 6.0202492374598116,
  'game3': 0.3009244867422378},
 {'player': 'BCBA',
  'game1': 5.5736805547854225,
  'game2': 2.427448130852461,
  'game3': 8.056922463655734},
 {'player': 'DBCB',
  'game1': 1.079065187885433,
  'game2': 1.4903839486228188,
  'game3': 7.090770687864043},
 {'player': 'CADA',
  'game1': 7.326556342227704,
  'game2': 9.85540980901537,
  'game3': 8.236483166484163},
 {'player': 'ABDC',
  'game1': 4.0616410779387255,
  'game2': 3.4541051596489103,
  'game3': 7.6930226008146825},
 {'player': 'CBDA',
  'game1': 0.6313170334888263,
  'game2': 6.037300580157208,
  'game3': 6.792373236887434},
 {'player': 'CADB',
  'game1': 0.08625926661875782,
  'game2': 7.019723238386131,
  'game3': 9.842360686144682},
 {'player': 'DCAB',
  'game1': 1.1100069558907943,
  'game2': 7.387507896868027,
  'game3': 2.3668856135959784},
 {'player': 'CAAC',
  'game1': 6.603831259530798,
  'game2': 8.523111128947436,
  'game3': 0.002151628559831087},
 {'player': 'DAAB',
  'game1': 6.995328881059232,
  'game2': 7.7713504063168575,
  'game3': 9.2811972629533},
 {'player': 'CBDB',
  'game1': 6.13431385918469,
  'game2': 3.4148904785184175,
  'game3': 3.74013421547538},
 {'player': 'CCCD',
  'game1': 8.847587875196725,
  'game2': 0.8336930321727853,
  'game3': 0.9590714789203769},
 {'player': 'CBBD',
  'game1': 7.088448808639468,
  'game2': 4.183055993038183,
  'game3': 9.653006061726268},
 {'player': 'DCBD',
  'game1': 7.704318684270665,
  'game2': 8.477979943919129,
  'game3': 3.6801450478303965},
 {'player': 'CBCB',
  'game1': 4.93844760477605,
  'game2': 1.0283517520037833,
  'game3': 5.74276717089484},
 {'player': 'DBDC',
  'game1': 6.783305548890879,
  'game2': 8.182923469844607,
  'game3': 6.174918876632881},
 {'player': 'BCDD',
  'game1': 4.972611301701917,
  'game2': 5.545501259134134,
  'game3': 6.101655858310149},
 {'player': 'DDBD',
  'game1': 4.000668775533205,
  'game2': 0.8894581850277727,
  'game3': 1.7166734092026414},
 {'player': 'ADBC',
  'game1': 4.175816080083874,
  'game2': 0.45305390764192044,
  'game3': 3.0810391842693896},
 {'player': 'DACD',
  'game1': 5.7826291002731525,
  'game2': 6.5074142661481185,
  'game3': 3.1274678704130876},
 {'player': 'CCDA',
  'game1': 9.649055388070805,
  'game2': 9.38572787018903,
  'game3': 0.24136920786568594},
 {'player': 'BCAA',
  'game1': 3.6376182195300313,
  'game2': 6.943171605178533,
  'game3': 7.9995097648072155},
 {'player': 'BDBC',
  'game1': 5.9287126190717645,
  'game2': 2.345948351015293,
  'game3': 6.187161231142982},
 {'player': 'BBDC',
  'game1': 4.389631037091936,
  'game2': 5.983721979224431,
  'game3': 4.175641786550006},
 {'player': 'BCAB',
  'game1': 6.168718849994294,
  'game2': 7.05697844137851,
  'game3': 0.780821274525153},
 {'player': 'CADC',
  'game1': 0.23724574911969665,
  'game2': 6.720395223887371,
  'game3': 6.403065586455724},
 {'player': 'ABAB',
  'game1': 7.308999738806062,
  'game2': 3.5306289855576853,
  'game3': 5.516270024246872},
 {'player': 'DBAC',
  'game1': 6.786546242856415,
  'game2': 2.588038738798245,
  'game3': 3.990845231993889},
 {'player': 'DBDC',
  'game1': 7.642527626001457,
  'game2': 7.692245765895615,
  'game3': 0.5223886011863887},
 {'player': 'CDCC',
  'game1': 1.1529063254227467,
  'game2': 7.79493362383497,
  'game3': 7.631028428447536},
 {'player': 'ADAC',
  'game1': 4.188175261311606,
  'game2': 7.281047386388306,
  'game3': 4.670975274566574},
 {'player': 'CCCD',
  'game1': 9.209882874271074,
  'game2': 7.560635363380181,
  'game3': 5.998869294549226},
 {'player': 'DAAD',
  'game1': 5.503964113605134,
  'game2': 6.275627141383227,
  'game3': 9.03344093048109},
 {'player': 'DABA',
  'game1': 4.494399232281207,
  'game2': 4.175972386405147,
  'game3': 3.5174673421657046},
 {'player': 'BCBA',
  'game1': 7.533751364232514,
  'game2': 2.226777456386567,
  'game3': 3.93748444353327},
 {'player': 'DBDA',
  'game1': 3.4512569958707164,
  'game2': 5.596581010150322,
  'game3': 1.9423559928081846},
 {'player': 'BAAC',
  'game1': 1.9028397647900896,
  'game2': 7.52824035040198,
  'game3': 5.954477766655749},
 {'player': 'DCCA',
  'game1': 6.391846944999804,
  'game2': 8.849726521405492,
  'game3': 3.000614178079574},
 {'player': 'CCDC',
  'game1': 2.4455316589627873,
  'game2': 5.04315441685585,
  'game3': 8.228235397306959},
 {'player': 'DBCD',
  'game1': 9.733439603949048,
  'game2': 2.2386210551595687,
  'game3': 2.6144572546232316},
 {'player': 'CABB',
  'game1': 6.7394215564015,
  'game2': 9.149221635019131,
  'game3': 8.743376629256794},
 {'player': 'CBCD',
  'game1': 0.46248244569661257,
  'game2': 2.9887834139924507,
  'game3': 9.970934673763594},
 {'player': 'CCCC',
  'game1': 3.8249886250557275,
  'game2': 5.40733684872878,
  'game3': 5.153540539212309},
 {'player': 'DBDC',
  'game1': 0.35584729006929994,
  'game2': 1.6472958072939214,
  'game3': 1.5699995997472993},
 {'player': 'DDDC',
  'game1': 2.810479735410276,
  'game2': 0.9826106683849567,
  'game3': 4.696128496666594},
 {'player': 'DDAB',
  'game1': 9.953138717692202,
  'game2': 8.309138621720308,
  'game3': 3.6610986467850717},
 {'player': 'DBDC',
  'game1': 2.8846278101183565,
  'game2': 7.955613799839237,
  'game3': 9.375454673603441},
 {'player': 'CCCD',
  'game1': 6.626399392689234,
  'game2': 4.781435205088778,
  'game3': 2.254628009403902},
 {'player': 'DCCA',
  'game1': 2.694732050083297,
  'game2': 3.6847537055483084,
  'game3': 7.9350127674271596},
 {'player': 'DCDC',
  'game1': 3.6698912989064967,
  'game2': 0.26404676497259305,
  'game3': 6.835449841658246},
 {'player': 'CBDC',
  'game1': 9.467895390448192,
  'game2': 2.8477108797320927,
  'game3': 7.794952297754131},
 {'player': 'DCDB',
  'game1': 8.435308801970587,
  'game2': 4.004421197194443,
  'game3': 2.409268210205733},
 {'player': 'DCAD',
  'game1': 2.478609295864489,
  'game2': 5.474334143635468,
  'game3': 0.65604254160189},
 {'player': 'CCCC',
  'game1': 1.7991830990749103,
  'game2': 1.523462164583419,
  'game3': 2.30245063884316},
 {'player': 'AACA',
  'game1': 4.70640759698658,
  'game2': 9.810367644500923,
  'game3': 0.07239691170601303},
 {'player': 'DDDB',
  'game1': 1.123617761492679,
  'game2': 0.7625684020303225,
  'game3': 4.75150749513112},
 {'player': 'CBCA',
  'game1': 4.1275825384643925,
  'game2': 5.5218576877174375,
  'game3': 7.8435245759464225},
 {'player': 'CBBA',
  'game1': 3.084914610580282,
  'game2': 8.49333850161406,
  'game3': 8.914661112344968},
 {'player': 'BBDA',
  'game1': 1.7118088074636006,
  'game2': 1.970472094801352,
  'game3': 8.782703342056065},
 {'player': 'AABD',
  'game1': 4.637138464872964,
  'game2': 5.436437363469255,
  'game3': 4.958749200003101},
 {'player': 'ABAB',
  'game1': 1.3065095005706717,
  'game2': 9.61330778271517,
  'game3': 1.792020243719662},
 {'player': 'BDDB',
  'game1': 3.546772994823355,
  'game2': 0.1260843604012285,
  'game3': 3.1663856089153875},
 {'player': 'BCCA',
  'game1': 6.219473636108994,
  'game2': 9.775916478361225,
  'game3': 9.818978035464191},
 {'player': 'CAAA',
  'game1': 5.5629381986723745,
  'game2': 3.768664112271174,
  'game3': 4.513133958785468},
 {'player': 'DDDA',
  'game1': 6.973915572078151,
  'game2': 5.3497571529797465,
  'game3': 0.08479911394952966},
 {'player': 'BABC',
  'game1': 8.730859159244487,
  'game2': 5.455426478450942,
  'game3': 0.8851345812199729},
 {'player': 'DADB',
  'game1': 5.854722796405294,
  'game2': 7.616107412031781,
  'game3': 8.249536157011313},
 {'player': 'CAAD',
  'game1': 4.172903057225281,
  'game2': 0.4428006611767221,
  'game3': 2.447035295672947},
 {'player': 'BBDC',
  'game1': 9.538377520015896,
  'game2': 1.9939313485138632,
  'game3': 8.87518359681038},
 {'player': 'BDCC',
  'game1': 9.340764663659929,
  'game2': 0.03751773000054581,
  'game3': 8.717434138611026},
 {'player': 'CBBD',
  'game1': 7.125301971281992,
  'game2': 3.825893196136758,
  'game3': 4.411958637131228}]

In [73]:
df = pd.DataFrame(LD)
df

   player     game1     game2     game3
0    AACA  8.340179  2.887681  0.583050
1    ACCC  1.603886  5.198670  2.269431
2    CDCB  8.784875  6.323535  0.129284
3    DBCD  4.078631  7.771775  7.742082
4    ADCB  9.723180  1.090466  2.518714
..    ...       ...       ...       ...
95   DADB  5.854723  7.616107  8.249536
96   CAAD  4.172903  0.442801  2.447035
97   BBDC  9.538378  1.993931  8.875184
98   BDCC  9.340765  0.037518  8.717434
99   CBBD  7.125302  3.825893  4.411959

[100 rows x 4 columns]

In [74]:
df=df.set_index("player")
df

           game1     game2     game3
player
AACA    8.340179  2.887681  0.583050
ACCC    1.603886  5.198670  2.269431
CDCB    8.784875  6.323535  0.129284
DBCD    4.078631  7.771775  7.742082
ADCB    9.723180  1.090466  2.518714
...          ...       ...       ...
DADB    5.854723  7.616107  8.249536
CAAD    4.172903  0.442801  2.447035
BBDC    9.538378  1.993931  8.875184
BDCC    9.340765  0.037518  8.717434
CBBD    7.125302  3.825893  4.411959

[100 rows x 3 columns]

In [75]:
df.loc[:,"game1":"game2"]

           game1     game2
player
AACA    8.340179  2.887681
ACCC    1.603886  5.198670
CDCB    8.784875  6.323535
DBCD    4.078631  7.771775
ADCB    9.723180  1.090466
...          ...       ...
DADB    5.854723  7.616107
CAAD    4.172903  0.442801
BBDC    9.538378  1.993931
BDCC    9.340765  0.037518
CBBD    7.125302  3.825893

[100 rows x 2 columns]

In [76]:
#Dictionary to DataFrame

data ={"country": ["france","germany","nepal","india"],"population":["11.2","10.5","60","70.5"],"area":["46004","34522","54644","55555"],"capital":["paris","berlin","kathmandu","new delhi"]}
df = pd.DataFrame(data)
df

   country population   area    capital
0   france       11.2  46004      paris
1  germany       10.5  34522     berlin
2    nepal         60  54644  kathmandu
3    india       70.5  55555  new delhi

In [77]:
df = df.set_index("country")
df

        population   area    capital
country
france        11.2  46004      paris
germany       10.5  34522     berlin
nepal           60  54644  kathmandu
india         70.5  55555  new delhi

In [78]:
df["area"]

country
france     46004
germany    34522
nepal      54644
india      55555
Name: area, dtype: object

In [79]:
Area = list(df["area"])

Area

TypeError: 'list' object is not callable

In [80]:
df[["area","population"]]

          area population
country
france   46004       11.2
germany  34522       10.5
nepal    54644         60
india    55555       70.5

In [81]:
df.loc[:,"area":"capital"]

          area    capital
country
france   46004      paris
germany  34522     berlin
nepal    54644  kathmandu
india    55555  new delhi

In [82]:
df["france":"nepal"]

        population   area    capital
country
france        11.2  46004      paris
germany       10.5  34522     berlin
nepal           60  54644  kathmandu

In [83]:
df.iloc[1:3]

        population   area    capital
country
germany       10.5  34522     berlin
nepal           60  54644  kathmandu

In [84]:
df.loc["france":"india",["population","area"]]

        population   area
country
france        11.2  46004
germany       10.5  34522
nepal           60  54644
india         70.5  55555

In [85]:
df.iloc[0:3,1:3]

          area    capital
country
france   46004      paris
germany  34522     berlin
nepal    54644  kathmandu

In [86]:
df1 = df.copy(deep= True)
df1.loc["france":"nepal","area",] = 20

#changing value

In [87]:
df1

        population   area    capital
country
france        11.2     20      paris
germany       10.5     20     berlin
nepal           60     20  kathmandu
india         70.5  55555  new delhi

In [89]:
#Add column "density" with the population density(Note:population column is expressed in million)
#df["density"] = df[ "population" ] * 1000000 / df["area"]
df.loc['nepal','capital']='okhaldhunga'
df

        population   area      capital
country
france        11.2  46004        paris
germany       10.5  34522       berlin
nepal           60  54644  okhaldhunga
india         70.5  55555    new delhi